@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");

.hide {
  display: none;
}

h1 {
  text-align: center;
  margin: 50px;
}

h3 {
  font-family: "Exo";
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
  transform: skew(-15deg);
}

body {
  background-color: white;
}

.table {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 20px auto;
  /* background-color: #3a0ca3; */
  border: 2px solid #59c1fe;
  /* box-shadow: -5px 3px #463f3a; */
}

.td {
  background-color: white;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  border: 2px solid #7d41e6;
  box-shadow: -1px 1px #7d41e6;
}

.base {
  background-color: white;
  border-radius: 50%;
}

.taken {
  background-color: blue;
  border: none;
  text-align: center;
  padding: 0px;
}

.red {
  background-color: #f72119;
}

.yellow {
  background-color: #fff01f;
}

ul {
  text-align: center;
}
li {
  display: inline-block;
}

#reset {
  font-family: "Exo";
  text-align: center;
  display: inline;
  /* top: 50%; */
  margin: 0 auto;
  box-shadow: 2px 2px #463f3a;
  color: #ffcc00;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}

#returnButton {
  font-family: "Exo";
  text-align: center;
  display: inline;
  /* top: 50%; */
  box-shadow: 2px 2px #463f3a;
  color: #ffcc00;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(118, 0, 191, 1);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 15px;
  border: 2px solid black;
  /* box-shadow: 5px 10px #8313e7; */
  color: #ffcc00;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(rgba(118, 0, 191, 0.5) 0%, transparent 70%),
    linear-gradient(#0b161e 40%, #202076 70%);
  perspective: 700px;
  font-size: clamp(10px, 2vw, 20px);
}

.lines {
  position: fixed;
  width: 100vw;
  height: 4em;
  background: linear-gradient(
    rgba(89, 193, 254, 0.2) 20%,
    #59c1fe 40%,
    #59c1fe 60%,
    rgba(89, 193, 254, 0.2) 80%
  );
  background-size: 1px 0.5em;
  box-shadow: 0 0 1em rgba(89, 193, 254, 0.4);
  transform: translateY(-1em);
  left: 0;
}

h1 {
  font-family: "Exo";
  font-size: 100px;
  margin: -100px 0 0 0;
  transform: skew(-15deg);
  letter-spacing: 0.03em;
}
h1::after {
  content: "";
  margin: -100px 0 0 0;
  position: absolute;
  top: 0.5em;
  right: 0.05em;
  width: 0.4em;
  height: 0.4em;
  background: radial-gradient(
      white 3%,
      rgba(255, 255, 255, 0.3) 15%,
      rgba(255, 255, 255, 0.05) 60%,
      transparent 80%
    ),
    radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50%/5%
      100%,
    radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50%/70%
      5%;
  background-repeat: no-repeat;
}
h1 span:first-child {
  display: block;
  margin: -100px 0 0 0;
  font-size: 60px;
  text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black, 0 0 5em #165ff3;
  -webkit-text-stroke: 0.06em rgba(0, 0, 0, 0.5);
}
h1 span:last-child {
  margin: -100px 0 0 0;
  font-size: 60px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    #032d50 25%,
    #00a1ef 35%,
    white 50%,
    #20125f 50%,
    #8313e7 55%,
    #ff61af 75%
  );
  -webkit-text-stroke: 0.01em #94a0b9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Mr Dafoe";
  margin: 20px auto;
  font-size: 70px;
  margin-top: -1em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-7deg);
}

.grid {
  background: linear-gradient(
      transparent 65%,
      rgba(46, 38, 255, 0.4) 75%,
      #7d41e6 80%,
      rgba(46, 38, 255, 0.4) 85%,
      transparent 95%
    ),
    linear-gradient(
      90deg,
      transparent 65%,
      rgba(46, 38, 255, 0.4) 75%,
      #7d41e6 80%,
      rgba(46, 38, 255, 0.4) 85%,
      transparent 95%
    );
  background-size: 30px 30px;
  width: 200vw;
  height: 300vh;
  position: absolute;
  bottom: -120vh;
  transform: rotateX(-100deg);
  -webkit-mask-image: linear-gradient(black, rgba(0, 0, 0, 0) 80%);
}

.btn-design5 {
  font-family: "Exo";
  background: none;
  color: #ffcc00 !important;
  transition: all 280ms ease-in-out 0s;
  letter-spacing: 1px;
  padding: 10px;
  margin: 15px 5px 0px 5px;
}
.btn-design5::after,
.btn-design5::before {
  font-family: "Exo";
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0;
  content: " ";
  display: block;
  margin: 15px auto;
  position: relative;
  transition: all 280ms ease-in-out 0s;
  width: 0;
  box-shadow: 0px 0px 0px #ffcc00;
}
.btn-design5:hover {
  font-family: "Exo";
  letter-spacing: 4px;
}
.btn-design5:hover::after,
.btn-design5:hover::before {
  font-family: "Exo";
  border: 2px solid #ffe64d;
  transition: width 350ms ease-in-out 0s;
  width: 100%;
  box-shadow: 0 0 20px 3px #df740c;
}
